header {


  background-color: var(--dark-color);
  color: var(--white-color);


  font-size: 18px;
  font-weight: 200;
  height: 50vh;


}

nav,ul {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  padding: 10px 5%;

}

.nav h4 {
  margin: 0;
}

ul {
  gap: 20px;
}

ul,a{
  list-style: none;
  text-decoration: none;
}

li a{
  margin-left:25px;
}

/* PRESENTATION */

#presentation {
  display: flex;
  /* border: 1px blue  solid; */
  justify-content: space-around;
  margin-top: 2%;
  align-items: center;
  padding: 0 16%;
}

h2 {
  font-size: 48px;
  font-weight: 900;
  margin: 0; 
}

#text p, li a{
  color: var(--grey-color);
}

#text {
  margin-right: 30px;
  max-width: 30%;
  flex: 1;
}

#presentation img {
  width: 25vw;
  height: 20vh;
  object-fit: cover;
}

